<div class="jumbotron">
  <h2>Drop me a line</h2>
  <p class="lead">
  No need for a fancy special twitter or email address for this 
  tiny little project. If you want to reach me, hit me up on 
  <%= link_to 'twitter (@dmragone)', 'http://www.twitter.com/dmragone' %>
  </p>
</div>
