<div class="jumbotron">
  <h2>Get emails of gist comments!</h2>
  <p class="lead">
  We all wish Github emailed us when someone comments on 
  a gist we own. Sadly they don't seem to be implementing 
  that functionality, so until they do, you can find it 
  right here.
  </p>
  <% if signed_in? %>
    <h3>Thanks for signing up.</h3>
    <%= link_to 'Update your email address and view your gists', 
      edit_github_user_path(current_user), class: 'btn btn-success' %>
  <% else %>
    <a class="btn btn-large btn-success" href="/auth/github">
      Sign up via Github</a>
  <% end %>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Tell Github you want this!</h4>
    <p>
      This site is a sub-optimal hack meant to get us what we need. 
      It'd be much better if Github had this feature natively, so ask.
    </p>

    <h4>Tweet at them</h4>
    <p>
      <a target="blank" href="https://twitter.com/intent/tweet?text=" \
        "@github%20&related=github&url=https://github.com/blog/624-gist" \
        "-comments">@github</a>
    </p>

    <h4>Email them</h4>
    <p><a href="mailto:support@github.com">support@github.com</a></p>
  </div>

  <div class="span6">
    <h4>In the meantime...</h4>
    <p>Use this service to get good-enough functionality</p>

    <h4>Sign in with Github</h4>
    <p>
      Sign in via OAuth in order to (optionally) allow access 
      to private gists, so you can see comments on those as well.
    </p>

    <h4>Receive a daily digest</h4>
    <p>
      This will begin as a daily digest of new comments on your 
      gists. I'm open to feedback on increasing that rate.
    </p>
  </div>
</div>
